.productContainer {
  margin-top: 100px;
  padding: 0 20px;

  .main-block__top {
    padding: 0 0 27px;
    text-align: center;
  }
  .main-block__title {
    padding: 0 0 20px;
    font: 400 40px/1 "Josefin Sans", sans-serif;
    text-transform: capitalize;
  }
  .main-block__subtitle {
    padding: 0 0 19px;
  }
  .category-subtitle {
    padding: 0 0 20px;
    display: block;
    font: 14px/20px Raleway, sans-serif;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
}

.productList {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;

  .item {
    margin-bottom: 10px;
    margin: 0 15px 47px;
    border-radius: 12px;
    border: 1px solid black;
  }

  .short-item__all {
    position: relative;
    border-radius: 12px;
  }

  .short-item__image-bg {
    height: 360px;
    margin: 0 0 20px;
    display: block;
    position: relative;
    overflow: hidden;
    background: #f8f8fb;

    img {
      border-radius: 12px 12px;
    }
  }

  .short-item__top {
    width: 100%;
    position: absolute;
    top: 17px;
    z-index: 1;
  }
  h4 {
    padding: 0 0 30px;
    font: 400 28px/31px "Josefin Sans", sans-serif;
    color: #000;
  }
  .short-item__title {
    padding: 0 0 8px;
    font: 16px/27px Raleway, sans-serif;
  }
  .short-item__price {
    padding: 0 12px 0 0;
    display: inline-block;
    vertical-align: top;
    font: 20px/22px "Josefin Sans", sans-serif;
    color: #000;
  }
}
