.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 22%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.side-drawer.open {
  transform: translateX(0);
}
.side-drawer ul {
  margin: 4rem 0 1rem 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.side-drawer li {
  margin: 0.5rem 0;
  padding: 1.2rem;    
}
.side-drawer a {
  text-decoration: none;
  font: 500 16px/28px Raleway, sans-serif;
  color: #444;
}
.side-drawer a:hover,
.side-drawer a:active {
  color: #ff8e8e;
}
.side-drawer .close-btn {
  position: absolute;
  margin-top: 70px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.logout-link {
  height: 42px;
  position: relative;
  top: 2px;
  white-space: nowrap;
  .logout-text {
    min-width: 38px;
    font: bold 20px/24px Raleway, sans-serif;
    color: #fff;
    background: #000;
    border-radius: 8px;
    transition: 0.2s ease-out;
    padding: 0 5px;
    margin: 2px 0 0;
  }
}

.logout-link:hover .logout-text {
  background: #ff8e8e;
}

@media (min-width: 769px) {
  .side-drawer {
    //display: none;
  }
}
@media (max-width: 768px) {
  .side-drawer {
    width: 20rem;
  }
  .side-drawer ul {
    margin: 0 0 1rem 1rem;    
  }
}
.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;

  :focus {
    outline: none;
  }
}
.toggle-button-line {
  width: 25px;
  height: 2px;
  background: black;
}
