.cart-item {
    img {
        border-radius: 12px 12px;  
    }
    
    img:hover {
        opacity: 1;
        box-shadow: 2px 4px 7px rgb(0 0 0 / 65%);
        border-radius: 12px 12px;
    }
    
    .border-bottom {
        border-bottom: 10px solid #000;
    }

    .title {
        padding: 0;
        font: 400 20px/24px 'Josefin Sans',sans-serif;
        text-transform: capitalize;
    }

    .price {
        font: 20px/20px 'Josefin Sans',sans-serif;
    }

    .qtyButton {
        background-color: #e4e4e4;
        display: flex;
        flex-direction: "row";
        
        input {
          width: 90%;
          height: 35px;
          background-color: #e4e4e4;
          font: 16px/1 Raleway, sans-serif;
          color: #000;
          text-align: center;
          border: none;
        }
      
        .button {
          height: 100%;
          width: 36px;
        }
      
        input:focus {
          border: none;
        }
      }
}
