.addressForm {
  .text-input {
    width: 100%;
    height: 50px;
    margin: 0 0 20px;
    padding: 7px 0 13px;
    display: block;
    font: 14px/1 Raleway, sans-serif;
    background: #fff;
    color: #000;
    border-bottom: 1px solid rgba(68, 68, 68, 0.2);
    -webkit-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
  }

  .title {
    padding: 0 0 30px;
    font: 400 40px/1 "Josefin Sans", sans-serif;
    text-transform: capitalize;
  }

  .text-input:focus {
    border-color: #000;
  }

  :focus {
    outline: 0;
  }

  .label-text {
    font: 14px/1 Raleway, sans-serif;
  }
}

.addresses {
  line-height: 20px;
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: #f4f4f4;
  cursor: pointer;
  padding: 20px;
}

.addresses:hover {
  background-color: #f6f6f6;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .addressForm {
    .title {
        font: 400 20px/1 'Josefin Sans', sans-serif;
    }
    .text-input {
        width: 80%;
    }
  }
  .addresses {
    margin: 6px 0;
  }
}
