.categorySection {
  padding-top: 101px;
  padding-bottom: 176px;
  position: relative;

  .leftSideBG {
    width: 482px;
    height: 482px;
    position: absolute;
    top: -7px;
    left: -179px;
  }

  .rightSideBG {
    width: 482px;
    height: 482px;
    position: absolute;
    bottom: 0px;
    right: -81px;
  }

  .collection-title {
    padding: 0 0 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    font: 80px/1 "Josefin Sans", sans-serif;

    .collection-title__count {
      margin: 0 -11px 0 0;
    }

    .collection-title__plus {
      font-size: 56px;
      position: relative;
      bottom: 6px;
    }

    .collection-title__text {
      display: block;
      font: 28px/48px Raleway, sans-serif;
    }
  }
}

.categoryInfo {
  margin-top: 99px;
  position: relative;
  z-index: 1;

  .catgoryDetail {
    margin-left: 40px;
    width: 100%;
    min-height: 560px;
    display: inline-block;
  }

  .categoryImg {
    max-width: 427px;
    width: 100%;
    height: 100%;

    a {
      max-width: 427px;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .categoryTitle {
      width: 600px;
      white-space: nowrap;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      left: -300px;
      top: auto;
      bottom: 230px;
      text-shadow: 2px 4px 7px rgb(0 0 0 / 65%);
    }
  }

  .categoryAttributes {
    position: relative;

    .categorytype {
      padding: 0 0 20px;
      display: block;
      font: 14px/20px Raleway, sans-serif;
      color: #444;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }

    .categoryTitleBig {
      padding: 0 0 35px;
      font: 400 40px/1 "Josefin Sans", sans-serif;
      text-transform: capitalize;
      position: relative;
      right: 2px;
      z-index: 1;
    }

    .collection__more {
      position: relative;
      z-index: 3;
    }

    .read-more {
      padding: 0 0 0 39px;
      display: inline-block;
      position: relative;
      font: 600 16px/1 Raleway, sans-serif;
      color: #000;
      text-transform: capitalize;
    }

    .read-more:before {
      content: "";
      width: 25px;
      height: 2px;
      position: absolute;
      top: 7px;
      left: 0;
      background: #000;
      -webkit-transition: 0.3s ease-out;
      -ms-transition: 0.3s ease-out;
      transition: 0.3s ease-out;
    }

    .read-more:hover {
      color: #ff8e8e;
      text-decoration: none;
    }

    .read-more:hover:before {
      background: #ff8e8e;
    }
  }
}

.categoryTitle {
  width: 100%;
  margin: -40px 0 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  font: 900 80px/1 Raleway, sans-serif;
  text-shadow: 0 -4px 7px rgb(0 0 0 / 15%);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  text-decoration: none !important;
}

.setRight {
  margin-top: 50%;
  margin-left: 45%;
}
@media (max-width: 768px) {
  .categorySection {
    margin: 9rem 3.5rem;
    .leftSideBG {
      display: none;
    }
    .rightSideBG {
      display: none;
    }
  }
}
