.bannerSlider {
  //   width: 100%;
  //   max-width: 95vw;
  margin: 20px 35px;
  display: flex;
  overflow: hidden;

  .slide {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    

    .vectorBG {
      position: fixed;
      bottom: 0;
      right: 0;
      top: 0;
    }
  }
}
